@import url('https://fonts.googleapis.com/css2? family= Cinzel:wght@600 & family= Poppins:ital,wght@0,200;0,400;1,500 & family= Share & display=swap' );
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

header {
    background-color: #0B5345 ; 
    width: 100%;
    height: 60px;
    display: grid;
    grid-template: "header-logo header-enviar-a box-header-search-input header-flag-country header-identificate header-devoluciones header-carrito" 60px /
                    150px       110px           1fr                     100px                160px               100px               140px;     
}
.header-logo {
    grid-area: header-logo;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 65px;
}
.img-main-logo {
    width: 90%;
    color: white;
    padding-left: 15px;
}
.borde {
    align-items: center;
    display: flex;
    padding-top: 60px;
    padding: 30px 30px;
 }
 
 .borde-interno {
    border-bottom: 1px solid #CACFD2;
    width: 90%; 
    margin: 0 auto;
 }
 
.header-enviar-a {
    grid-area: header-enviar-a;
    display: grid;
    grid-template: "box-icon-location box-texto-enviar-a" 
                    "box-icon-location box-texto-colombia" /
                    20px          70px;  
}
.box-icon-location {
    height: 60px;
    grid-area: box-icon-location;
    color: white;
    font-size: 1.3em;
    display: flex;
    align-items: center;
}
.icon-location {
    font-size: .9em;
}
.box-texto-enviar-a {
    grid-area: box-texto-enviar-a;
    color: white;
    position: relative;
    top: 10px;
    font-size: .7em;
    font-weight: 300;
}
.box-texto-colombia {
    grid-area: box-texto-colombia;
    font-size: .9em;
    font-weight: 500;
    color: white;
    position: relative;
    bottom: 4px;
}
.box-header-search-input {
    grid-area: box-header-search-input;
    display: flex;
    justify-content: center;
    align-items:center;
}
.header-search-input {
    height: 40px;
    width: 100%;
    display: grid;
    grid-template: "box-filtro-todos box-buscar-amazon box-lupa" /
                    70px            1fr               50px;
}
.box-filtro-todos {
    grid-area: box-filtro-todos;
    background-color: rgb(230,230,230);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.filtro-todos {
    display: flex;
    align-items: center;
    height: 40px;
}
.header-todos {
    padding: 0 4px 0 15px;
    font-size: .7em;
}
.icon-chevron {
    font-size:.7em;
}
.box-buscar-amazon {
    grid-area: box-buscar-amazon;
    background-color: white;
    width: 100%;
}
.input-busqueda {
    border:none;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    font-size: 1.1em;
}
.input-busqueda::placeholder {
    font-size: .8em;
    font-weight: 500;
}
.box-lupa {
    height: 42px;
    background-color: #FADBD8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.lupa {
    grid-area: lupa;
}
.icon-lupa {
    font-size: 1.1em;
}
.header-flag-country {
    grid-area: header-flag-country;
}
.header-identificate {
    grid-area: header-identificate;
}
.header-devoluciones {
    grid-area: header-devoluciones;
}
.header-carrito {
    grid-area: header-carrito;
}
/*  */
.header-search-input-focus {
height: 40px;
width: 100%;
display: grid;
grid-template: "box-filtro-todos box-buscar-amazon box-lupa" / 
                70px             1fr                50px;
border-radius: 12px;
}

.header-search-input-no-focus {
    height: 46px;
    width: 100%;
    display: grid;
    grid-template: "box-filtro-todos box-buscar-amazon box-lupa" / 
                    70px             1fr                50px;
    border: 3px solid transparent;
    border-radius: 12px;                 
 }
/*  */
.main-nav {
    height: 40px;
    font-family: sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    background-color: #0E6251;
  }
  
  .main-menu {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 1em;
    font-weight: 500;
  }
  
  li {
    list-style: none;
  }
  .hori {
    display: inline-block;
    padding: 10px;
    color: white;
  }
  
  .hori:hover {
    cursor: pointer;
    border: 1px solid white;
  }
/*  */
.header-country-flag {
    color: white;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-image: url(../img/ilustracion-bandera-estados-unidos_53876-18165.avif);
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: 30px;
}
.header-identificate {
    color: white;

}
.header-carrito {
    color: white;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*  */
.fa-solid.fa-chevron-down.fa-beat {
    font-size: 10px;
}
.txt-hola-identificate, .txt-devoluciones  {
    color: white;
    font-size: .8em;
    font-weight: 400;
    position: relative;
    top: 10px;
}
.txt-cuentas-listas, .txt-pedidos {
    color: white;
    font-size: 1em;
    font-weight: 500;
    position: relative;
    top: 10px;

}
.txt-Es {
    color: white;
    font-size: .8em;
    padding: 5px;
}
.carrito {
    font-size: 1.5em;
    position: relative;
    right: 5px;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.main-content {
    height: 100vh;
    position: static; /* static */
    z-index: 10;
}
.box-modal {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(0, 0, 0,.5);
z-index: 20;
}

.modal {
   width: 93%;
   height: 80%;
   z-index: 30; 
   background-color: white;
   border-radius: 10px;
   position: relative;
   display: grid;
   grid-template:   "box-video-imagenes box-video-imagenes" 30px
                    "box-main-img-modal info-modal"  /
                    1fr                350px;
}
/*  */
.modal-otro {
    width: 93%;
    height: 80%;
    z-index: 30; 
    background-color: white;
    border-radius: 10px;
    position: relative;
    display: grid;
    grid-template:   "box-video-imagenes box-video-imagenes" 30px
                     "box-main-img-modal info-modal"  /
                     1fr                350px;
}
 /*  */
.box-main-img-modal {
    grid-area: box-main-img-modal;
    width: 100%;
    height: 110%;
    display: flex;  
    justify-content: center;
    align-items: center;
    overflow: hidden; /*  */
}
.img-box {
    width: 100%;
    height: 100%;
    transition: scale 400ms;
}

.main-img-modal {
    width: 45%;
    height: auto;
    margin-bottom: 40px;
}

.article.box-img-barcos{
    cursor: pointer;
    border: 1px solid rgb(119, 71, 35);
    /* border-radius: 15px; */
}
.img-barcos-opa{
    opacity: 0.4;
}
.img-mini{
    width: 100%;
    /* border-radius: 10px; */
}
.info-modal { /*  */
    grid-area: info-modal;
    padding: 30px 60px 0 30px;   
}
.btn-close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.3em;
    border: 3px solid rgb(44,176,224,0.3);
    border-radius: 6px;
    padding: 0 3px;
    cursor: pointer;
}
.box-video-imagenes {
    grid-area: box-video-imagenes;
    position: relative;
    margin: 20px 0;
}

.box-video-imagenes::before {
    content: "";
    display: block;
    border-top: 1px solid rgb(185, 185, 185);
    width: 94%;
    position: absolute;
    top: 34px;
    margin: 0 10px 0 20px;
}
.video-imagenes {
    cursor: pointer;
}
.option-videos {
    position: absolute;
    top: 7px;
    left: 50px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.7;
}
.option-imagenes {
    position: absolute;
    top: 7px;
    left: 140px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.7;
}
.option-selected {
    border-bottom: 2px solid #F39C12;
    padding-bottom: 10px;
}
.txt-caracteristicas-modal {
    font-size: 1.3em;
    text-align: justify;
    line-height: 2em;
    font-family: 'Poppins', sans-serif;
}
.txt-estilos-caracteristicas {
    font-size: 0.8em;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.txt-estilo-normal{
    font-size: 1em;
    padding-top: 20px;
    color: black;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.txt-estilos-caracteristicas-2{
    color: rgb(96, 96, 96);
    font-size: 0.8em;
    padding-top: 20px;
    top: 20px;
}
/*  */
.article {
    /* border-radius: 10px; */
    height: 50px;
    width: 50px;
    grid-area: article-1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-img {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.article {
    display: inline-block;
    margin: 5px;
}

.img-mini {
    width: 50px;
    height: 50px;    
    border: 2px solid rgb(158, 158, 158);
}
.img-mini:hover{
    border: 2px solid  #1A5276;
    cursor: pointer;
}
/*  */
/*  */
/*  */
.main-barco {
    width: 100%;
    height: 100%;
    z-index: 10; 
    background-color: white;
    border-radius: 10px;
    position: relative;
    display: grid;
    grid-template: "principal-container-img     principal-box-main-img-modal    principal-info-modal    principal-compra-modal"  /
                    50px                        1fr                             600px                   350px;
}
.principal-container-img {
    grid-area: principal-container-img;
}
.principal-box-main-img-modal {
    grid-area: principal-box-main-img-modal;
    width: 100%;
    height: 100vh;
    display: flex;
    margin-left: 60px;
    padding-top: 80px;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    cursor: pointer;
}
.img-box-principal {
    width: 100%;
    height: auto;
    transition: scale 100ms;
}

.principal-info-modal {
    grid-area: principal-info-modal;
    padding: 30px 10px 30px 0;
}
.precio-producto{
    border-bottom: 1px solid #A6ACAF;
    padding-bottom: 30px;
    margin-bottom: 10px;
    padding-top: 13px;
}
.principal-compra-modal {
    grid-area: principal-compra-modal;
    padding: 20px;
    margin-top: -35px;
}

.texto-precio{
    color: #565959;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.dolar{
    color: #943126;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.carac{
    color: #7B241C;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 20px;
}
.primer-cuadro{
    border: 1px solid #CACFD2;
    margin: 10%;
    margin-right: 50px;
    margin-bottom: 40px;
    margin-left: 1%;
    padding: 20px;
    border-radius: 8px;

}
.agregar-lista{
    border: 1px solid #565959;
    border-radius: 8px;
    padding: 5px 10px;
}
.agregar-lista:hover{
    background-color: #F2F3F4;

}
/* principal-compra-modal */
.compra-precio {
    margin-bottom: 10px;
}
.txt-moneda-number {
    font-size: 1.1em;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
}
.txt-caracteristicas-producto{
    font-family: 'Poppins', sans-serif;
}
.list-one, .list-two, .list-three, .list-fourt, .list-five, .list-six {
    list-style-type: none;
    position: relative;
    padding-left: 1em;
    padding-bottom: 5px;
}

.list-one::before, .list-two::before, .list-three::before, .list-fourt::before, .list-five::before, .list-six::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
}

.txt-detalles, .principal-enviar-a {
    color: #0E6655;

}
.principal-enviar-a {
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #A6ACAF;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}
.principal-icon {
    color: rgb(35, 33, 33);
    font-weight: 100;
}
.txt-disponible {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    font-size: 13px;
}
.envio-gratis {
    font-weight: 700;
    color: rgb(136, 136, 136);
}
.txt-entrega {
    color: rgb(127, 127, 127);
}
.txt-entrega-negrita {
    font-weight: 600;

}
.txt-entrega-verde {
    color: green;    
}
.principal-cantidad {
    margin-top: 15px;
}
.principal-select {
    border-radius: 10px;
    width: 100px;
    padding: 5px;
    background-color: rgb(189, 219, 238);
    box-shadow: 2px 2px 10px 3px #75e4fc;
}
.principal-select:hover {
    background-color: rgb(172, 179, 184);
}
/*  */
.shop-compras {
    grid-area: principal-info-modal;
    font-size: 1.1em;
    border: 1px solid #CACFD2;
    margin: 20px;
    margin-top: -20px;
    margin-left: 1%;
    border-radius: 8px;
    margin-right: 50px;
    padding: 20px;
}
.comprar-ahora, .agregar-carrito  {
    width: 220px;
    height: 35px;
    margin-top: 10px;
    border-radius: 8px;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.agregar-carrito {
    border: 1px solid #CACFD2;
    font-size: 15px;
    font-family: 'Poppis', sans-serif;  
}
.agregar-carrito:hover{
    background-color: rgb(172, 179, 184, 0.1);
}
.comprar-ahora {
    background-color: rgb(255, 215, 0);
    font-size: 15px;
    font-family: 'Poppis', sans-serif;  
}
.comprar-ahora:hover {
    background-color: rgb(241, 196, 15, 0.9);
}
.agregar-accesorio{
    border: 1px solid #CACFD2;
    border-radius: 8px;
    margin-top: 30px;
    width: 265px;
    padding: 5px 20px;
}
.accesorio{
    border-bottom: 1px solid #CACFD2;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    display: block;
    width: 119%;
    text-align: center;
    position: relative;
    left: -20px;
    padding-bottom: 8px;
    padding-top: 5px;
}

.accesorio-1{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #0E6251;
    display: flex;
    margin-top: 10px;
    cursor: pointer;
}
.accesorio-2{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #0E6251;
    cursor: pointer;
}
.accesorio-3{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #0E6251;
    cursor: pointer;
}
.accesorio-1:hover, .accesorio-2:hover, .accesorio-3:hover {
    color: #C7511F;
}
.accesorio-4{
    margin-top: 10px;
    display: flex;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #922B21 ;
}

.agregar-carrito-boton{
    display: flex;
    color: #424949 ;
    border: 1px solid rgb(255, 215, 0);
    background-color: rgb(255, 215, 0);
    padding: 2px;
    margin-bottom: 5px; 
    border-radius: 10px;
    margin-top: -18px;
    margin-left: 50%;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
}
.agregar-carrito-boton:hover{
    background-color: #ddcb26;
}
/*  */
.principal-main-img-modal {
    width: 60%;
    height: auto;
}
.principal-article {
    border-radius: 10px;
    border: 1px solid black;
    height: 50px;
    width: 40px;
    margin: 0;
    margin-top: 80px;
    margin-left: 120px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.principal-article:hover {  /*  */
    cursor: pointer; 
    box-shadow: 0 0 6px #3498DB; 
}
.principal-article-1{
    margin-bottom: -50px;
}
.principal-article-2{
    margin-bottom: -50px;
}
.principal-article-3{
    margin-bottom: -50px;
}
.principal-article.box-img-barcos{
    cursor: pointer;
    border: 2px solid rgb(119, 71, 35);
    /* border-radius: 15px; */
}
.img-mini-p {
    width: 100%;
    /* border-radius: 10px; */
}



/* Informacion del Producto */
.infoproduc{
    margin-left: auto;
    line-height: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #A6ACAF;
  }
  .preguntas{
    text-decoration: none;
    color: #1F618D;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }
  .preguntas:hover{
    color: #C7511F;
    text-decoration: underline;
  }
  .marca{
    text-decoration: none;
    color: #007185;
    font-size: 15px;
    display: block;
  }
  .marca:hover{
    text-decoration: underline;
    color: #C7511F;
  }
  .desc{
    font-size: 25px;
    color: #565959;
  }
  .califica{
    display: block;
    font-size: 14px;
  }
/* estrellas */
/* joseee */  
.box-estrellas {
    display: flex;
    justify-content: space-between;
 }
 .box-estrellas .estrella {
    margin-right: 5px;
  }
  
  .box-estrellas .estrella:last-child {
    margin-right: 500px;
  }
   
.calificacion-global {
    width: 300px;
    background-color: #FFF;
    position: absolute;
    top: 188px;
    left: 900px;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    margin: 0;
    border: 1px solid var(--gris3);
    padding: 10px 12px;
    z-index: 2;
}
.triangulo-1 {
    width: 16px;
    height: 6px;
    position: relative;
    top: -16px;
    margin: 0 auto;
    background-color: #CCC;
    z-index: 1;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
.estrella-div {
    margin: 6px 0;
}
.number-star-div {
    font-size: 16px;
    font-weight: 600;
}
.text-calificacion-global {
    font-size: 14px;
    margin: 7px 0 12px 0;
    color: #b7b8b8; /* Color de la letra azul por defecto */
    text-decoration: none; /* Elimina la decoración de texto por defecto (subrayado) */
    position: relative; /* Asegura que el posicionamiento de los elementos secundarios sea relativo a este elemento */
}

.barras-estrellas {
    font-size: 14px;
    margin: 6px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #5ea5b2;
    text-decoration: none; /* Elimina la decoración de texto por defecto (subrayado) */
    position: relative; /* Asegura que el posicionamiento de los elementos secundarios sea relativo a este elemento */
}

.barras-estrellas:hover {
    color: #ffa41c; /* Color del texto amarillo al pasar el cursor sobre el elemento */
}

.barras-estrellas:hover::after {
    content: ''; /* Contenido vacío para crear un pseudo-elemento */
    display: block; /* Hace que el pseudo-elemento sea un bloque */
    width: 100%; /* Ancho del pseudo-elemento al 100% del elemento principal */
    height: 2px; /* Grosor de la línea de raya */
    background-color:#ffa41c; /* Color de la línea de raya amarillo */
    position: absolute; /* Posiciona el pseudo-elemento de forma absoluta con respecto al elemento principal */
    bottom: 0; /* Coloca el pseudo-elemento en la parte inferior del elemento principal */
}

.barra-principal {
    width: 154px;
    height: 20px;
    margin: 0 10px;
    border: 1px solid #AAA;
    border-radius: 4px;
}
.barra-principal-1 {
    margin: 0 13px;
}
.barra-ineterior {
    height: 100%;
    margin: 0;
    background-color: #FFA41C;
    border-radius: 2.9px;
    transition: width 1s;
}
.barra-ineterior-5 {
    width: 91%;
}
.barra-ineterior-4 {
    width: 5%;
}
.barra-ineterior-3 {
    width: 1%;
}
.barra-ineterior-2 {
    width: 1%;
}
.barra-ineterior-1 {
    width: 2%;
}
.div-opiniones-clientes {
    font-size: 14px;
    padding: 12px;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
