*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    text-align: center;
    width: 300px;
}

li{
    text-align: right;
    padding: 5px;
    border: 2px solid #eee;
}

ol{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}

h1{
    text-align: center;
    justify-content: center;
}

.primer-dia{
    grid-column-start: 3;
}

.dia{
    background: #eee;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.fin {
    background-color: gray;
}

.festivo{
    background-color: yellow;
    margin-block-end: 2px;
}