body{
    background-image: url(../img/cyberpunk-night-city-xlyvdpbkgslj48wp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

html{
    font-size: 62.5%;
}
nav {
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(85, 83, 10) 50%, rgb(197, 0, 0) 60%, rgb(29, 130, 130) 100%);
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0.1px;
}

.logo {
    width: 60px;
    border-radius: 15px;
    padding: 25px;
}

ul li {
    display: inline-block;
    list-style: none;
    padding: 6px 30px;
    font-weight: 500;
    font-size: 1.7rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border-radius: 20px;
    color: #d5d1d1;
}

ul li:hover{
    border-radius: 20px;
    background-color: #501193;
    color: white;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;

}

.image-container img {
    width: 100%;
    border-radius: 15px;
    width: 88%;
}

.image-container p {
    margin-top: 10px;
    color: white;
    font-size: 2rem;
    font-family: 'poppins', sans-serif;
}

        .hamburger {
            display: none;
        }

        .hamburger .bar {
            width: 25px;
            height: 3px;
            background-color: white;
            margin-bottom: 5px;
            transition: all 0.3s ease-in-out;
        }

        #toggle:checked ~ .hamburger .bar:nth-child(1) {
            transform: rotate(-45deg) translate(-5px, 5px);
        }

        #toggle:checked ~ .hamburger .bar:nth-child(2) {
            opacity: 0;
        }

        #toggle:checked ~ .hamburger .bar:nth-child(3) {
            transform: rotate(45deg) translate(-5px, -5px);
        }

        #toggle:checked ~ nav ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: #000;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
        }

        #toggle:checked ~ nav ul li {
            opacity: 0;
            transform: translateY(-10px);
            transition: all 0.3s ease-in-out;
        }