.face {
    background: linear-gradient(180deg, #060606 0%, #060606 52.6%, #2d2d2d 100%);
    color: #ffffff;
    min-height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    position: absolute;
}
.box {
    flex: 1;
    -webkit-perspective-origin-y: -50vh;
    transform: translate(0px, 0px);
    perspective: 100px;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: transform 0.5s ease;
    border: 1px solid black;
}
.box:hover {
    transform: translate(0px, 15px);
    transition: transform 0.5s ease;
}
.two {
    transform: rotateX(90deg) translate(0px, -95px);
    transform-origin: 0% 0%;
}
.three {
    transform-origin: 100% 0%;
    transform: rotateY(-90deg);
    width: 95px;
}
.four {
    transform-origin: 0% 0%;
    transform: rotateY(90deg);
    width: 95px;
}
.flex {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: calc(100% - 95px);
    justify-content: center;
    margin: 0;
    background: black;
}
.first {
    perspective-origin: 50vw -25vh;
}
.second {
    perspective-origin: 30vw -25vh;
}
.third {
    perspective-origin: 10vw -25vh;
    z-index: 2;
}
.fourth {
    perspective-origin: -10vw -25vh;
    z-index: 1;
}
.fifth {
    perspective-origin: -30vw -25vh;
    z-index: 0;
}
a{
    text-decoration: none;
    color:#ffffff;
}