.box-1 {
    border: 10px solid rgb(64, 64, 64, .9);
    background-color: #707070;
}
h1{
    align-items: center;
    justify-content: center;
    text-align: center;
}
/*border dashed*/
.box-2 {
    border: 2px dashed darkcyan;
}
/*border dotted*/
.box-3 {
    border: 2px dotted brown;
}
/*border double*/
.box-4 {
    border: 2px double seagreen;
}
.box-style{
    width: 250px;
    height: 250px;
    margin: 20px;
    justify-content: center;
}
.robto{
    display: flex;
    flex-direction: row;
}