body{
    background-color: #555;
}
.principal{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.principal2{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.principal3{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.color1{
    background-color: blue;
    color: black;
    width: 300px;
    height: 300px;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.color2{
    color: dimgray;
    background-color: darkgoldenrod;
    font-weight: 400;
    width: 300px;
    height: 300px;
    font-size: 1.5em;
    margin: 0 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.color3{
    color: burlywood;
    background-color: brown;
    width: 300px;
    height: 300px;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.color4{
    color: darkblue;
    background-color: rgb(200,72,50);
    width: 300px;
    height: 300px;
    font-size: 1.5em;
    font-weight: 250;
    margin: 0 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.color5{
    color: crimson;
    background-color: rgb(120,120,120);
    width: 300px;
    height: 300px;
    font-size: 1.5em;
    font-weight: 250;
    margin: 0 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
h1{
    color: mediumturquoise;
    width: 400px;
    font-weight: 400;
    font-size: 2em;
}
.color6{
    color: aquamarine;
    background-color: rgb(91, 38, 216);
    width: 300px;
    height: 300px;
    font-size: 1.5em;
    font-weight: 250;
    margin: 0 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.color7{
    color: aliceblue;
    background-color: #e018d6;
    width: 300px;
    height: 300px;
    font-size: 1.5em;
    font-weight: 200;
    margin: 0 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.color8{
    color: lawngreen;
    background-color: #ec0404;
    width: 300px;
    height: 300px;
    font-size: 1.5em;
    font-weight: 200;
    margin: 0 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.color9{
    color: darkslateblue;
    background-color: #56b1a2;
    width: 300px;
    height: 300px;
    font-size: 1.5em;
    font-weight: 200;
    margin: 0 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
a{
    text-decoration: none;
    color: azure;
    font-size: 1.5em;
    font-weight: 500;
    margin: 150px;
}
/*colores*/